<h1 mat-dialog-title>{{titleModal}}</h1>

<form autocomplete="off" (ngSubmit)="createEditInfo()">

    <div mat-dialog-content >
        <div class="mb-3" hidden>
            <label for="code" class="form-label">Code</label>
            <input type="number" class="form-control" name="code" id="code" aria-describedby="CodeCity" required [(ngModel)]="city.code" readonly>
            <div id="CodeCity" class="form-text">Internal code of city.</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="description" id="description" required [(ngModel)]="city.description">
        </div>

        <div class="alert alert-warning" role="alert" *ngIf="error">
            {{msjError}}
        </div>
    </div>

    <div mat-dialog-actions>
        <button type="button" mat-button aria-label="Cancel info" color="accent" [mat-dialog-close]="false">
            <mat-icon>close</mat-icon> Cancel
        </button>

        <button type="submit" mat-button aria-label="Save info" color="primary">
            <mat-icon>save</mat-icon> Save
        </button>
    </div>
</form>
